.file-content.code {
  border: 0;
  box-shadow: none;
  margin: 0;
  padding: 0;
  table-layout: fixed;

  pre {
    padding: 10px 0;
    border: 0;
    border-radius: 0;
    font-family: $monospace-font;
    font-size: $code-font-size;
    line-height: 19px;
    margin: 0;
    overflow: auto;
    overflow-y: hidden;
    white-space: pre;
    word-wrap: normal;
    border-left: 1px solid;

    code {
      display: inline-block;
      min-width: 100%;
      font-family: $monospace-font;
      white-space: normal;
      word-wrap: normal;
      padding: 0;

      .line {
        display: block;
        width: 100%;
        min-height: 19px;
        padding-left: 10px;
        padding-right: 10px;
        white-space: pre;
      }
    }
  }

  .line-numbers {
    padding: 10px;
    text-align: right;
    float: left;

    a {
      font-family: $monospace-font;
      display: block;
      font-size: $code-font-size !important;
      min-height: 19px;
      white-space: nowrap;

      i {
        float: left;
        margin-top: 3px;
        margin-right: 5px;
        visibility: hidden;
      }

      &:hover,
      &:focus {
        outline: none;

        i {
          visibility: visible;
        }
      }
    }
  }
}
